<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>Last Lab</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>