<h1>Lab10</h1>
<h2>{{message}}</h2>
<form action="/login" method="POST" id="login-form">
    <div class="form-group">
        <label for="username">Enter Username:</label>
        <input type="text" class="" id="username" name="username" placeholder="Enter your username">
    </div>
    <div class="form-group">
        <label for="password">Enter Password:</label>
        <input type="password" class="" id="password" name="password" placeholder="Password">
    </div>
        <button type="submit" class="">Login</button>   
</form>